@import "macchiato.css";

* {
    border: none;
    border-radius: 0;
    font-size: 13px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    color: @text;
}

tooltip {
    background: @crust;
    border: 2px solid #11111b;
    border-radius: 10px;
}


#custom-battery,
#custom-spotify,
#clock,
#pulseaudio,
#custom-notification,
#workspaces,
#tray,
#backlight {
    background: @crust;
    padding: 0 10px;
    margin: 10px 0 3px;
}

#tray {
    background: transparent;
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    border-radius: 10px;
    margin-left: 10px;
    padding: 0 5px 0 5px;
}

#workspaces button {
    padding: 2px 4px;
    margin: 2px;
    border-radius: 8px;
    color: rgba(180, 190, 254, 1);
}

#workspaces button.active {
    background: rgba(180, 190, 254, 0.9);
    color: rgba(0, 0, 0, 0.7);
    padding: 2px 8px;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    background: rgba(75, 75, 125, 0.4);
    color: rgba(174, 170, 240, 0.8);
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#custom-spotify {
    border-radius: 10px;
    margin: 10px 60px 3px;
    background: transparent;
}

#clock {
    color: @peach;
    border-radius: 10px;
    margin-left: 5px;
}

#custom-system-update {
    background: @crust;
    padding: 0 10px;
    margin: 10px 0 3px;
    border-radius: 10px 0 0 10px;
}

#pulseaudio {
    color: @blue;
}

#custom-notification {
    color: @peach;
    border-radius: 0 10px 10px 0;
    margin-right: 5px;
}
